.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-form {
  width: 100%;
  max-width: 500px; /* Adjust the width as needed */
  display: flex;
  align-items: center;
}

.search-input {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ced4da; /* Light gray border */
  border-radius: 5px;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.search-input:focus {
  border-color: #80bdff; /* Blue border on focus */
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25); /* Blue shadow on focus */
}

.search-input::placeholder {
  color: #6c757d; /* Light gray placeholder text */
  opacity: 1; /* Ensure placeholder text is visible */
}
