html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

h1 {
  font-size: 1.5rem;
  color: #333;
  margin: 0;
  text-align: center;
}

.List {
  padding: 20px;
}

.search-bar {
  width: 100%;
  max-width: 500px; /* Adjust the max-width as needed */
  margin: 0 auto;
}

.search-bar input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.upcoming-retirement-btn {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.875rem;
  margin-top: 10px;
}

.upcoming-retirement-btn:hover {
  background-color: #218838;
}

.table-container {
  overflow-x: auto;
  margin: 0;
  padding: 0; /* Removed padding */
  width: 100%;
}

.employee-table {
  width: 100%;
  border-collapse: collapse;
}

.employee-table th, .employee-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.employee-table th {
  background-color: #4caf50;
  color: white;
}

.employee-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.employee-table tr:hover {
  background-color: #ddd;
}

.table-heading {
  text-align: center;
  font-size: 1.2rem;
  padding: 10px;
  background-color: #4caf50;
  color: white;
}

.actions-container {
  display: flex;
  gap: 4px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.875rem;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
