.employee-table-container {
  max-height: 70vh; /* Adjust the height as needed */
  overflow-y: auto;
  position: relative;
}

.employee-table thead {
  position: sticky;
  top: 0;
  z-index: 100; /* Ensure the header is above other content */
}

.table-header {
  background-color: #28a745; /* Green header */
  color: #ffffff;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f8f9fa; /* Light grey rows */
}

.table-hover tbody tr:hover {
  background-color: #e9ecef;
}
