.container {
  margin: 0 auto;
  max-width: 80%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

header {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 8px;
}


header .d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


header h1 {
  flex-grow: 1;
  text-align: center;
}

.backList {
  margin-right: 10%;
  background-color: aliceblue;
  color: black;
}