nav {
  display: flex;
  justify-content: space-between;
  /* Align items to the edges */
  align-items: center;
  /* Center align items vertically */
  padding: 1rem 2rem;

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav-links a:hover,
.nav-links a.active {
  background-color: #FAD300;
  /* Bright Yellow on hover */
  color: #0C121C;
  /* Dark Navy Blue on hover */
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: #FAD300;
  /* Bright Yellow */
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: #0C121C;
  /* Dark Navy Blue */
  transition: background-color 0.3s, color 0.3s;
}

.nav-links a.active {
  color: #000000;
  /* Slightly darker yellow for active link */
}

.create-button {
  text-decoration: none;
  background-color: #FAD300;
  /* Bright Yellow */
  color: #0C121C;
  /* Dark Navy Blue */
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.create-button:hover {
  background-color: #E6B800;
  /* Slightly darker yellow on hover */
  color: #ffffff;
  /* White text on hover */
}