/* UpcomingRetirement.css */
.List {
  padding: 20px;
}

h1 {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.filter-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: translateY(-5px);
}

.card-body {
  padding: 20px;
}

.employee-details {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.detail-item {
  flex: 1;
  min-width: 200px;
  padding: 10px;
  box-sizing: border-box;
}

.detail-item strong {
  display: block;
  margin-bottom: 5px;
  color: navy;
}

.detail-item {
  font-size: 0.875rem;
  color: #333;
}

.navigation-button {
  text-align: center;
  margin-top: 20px;
}
